<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title></title>
</head>

<body>

    <div class="equation" style="width: 98%;height: 580px">
      <h6 style="display: none">equalite</h6>
      <p>Deux rectangle sont équalite, c'est à dire ils ont le même longeur
         et largeur, et le même point d'origine.<br>
          example: <shape style="color: red;">rectangle rouge</shape> et <shape style="color: black;"> rectangle noir</shape></shape></p>
        <img style="width: 330px;height:270px;margin-left: 3px;margin-right: 15px;"
         src="../../sources/equalite.png">
    </div>
</body>

</html>