<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title></title>
</head>

<body>
<header>
  <div class="container">
    <div class="nav">
      <h2><span><i class="fa fa-trophy" aria-hidden="true"></i></span> MATKIDDO</h2>
      <nav>
        <ul>
          <li><a href="../../Triangle/learn/LearnTriangles.html">Triangle</a> </li>
          <li><a href="../../Rectangle/learn/LearnRectangle.html">Rectangle</a></li>
          <li><a href="../../game/Jouer.html">Jouer</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="wrapper">
   <iframe id="frame" src="RectangleSurface.html" width="100%" height="100%"></iframe>
  <button id="voice" style="margin-top: 450px;margin-right:50px;width: 100px;cursor: pointer">
    <img src="../../sources/volume-level.png" width="50px" >
  </button>
  <div class="answer-options">
    <div class="options" id="RectangleSurface" style="background-color: #FE4A49;">
      <p >Surface</p>
    </div>
    <div class="options" id="PointInterieur" style="background-color: #2AB7CA;">
      <p>Point<br/>Interieur</p>
    </div>
    <div class="options" id="Equalite" style="background-color: #FED766;">
      <p>Equalite</p>
    </div>
  </div>
</div>
<button style="margin-top: -20px;cursor: pointer" id="draw">Dessiner</button>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/learnRectangle.js"></script>
</body>

</html>