<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <title></title>
</head>

<body>
  <div class="equation" style="width: 98%;height: 580px">
    <h6 style="display: none">Surface</h6>
    <p>Un rectangle est une figure géométrique à quatre côtés.<br/>
    Ses côtés opposés sont égaux et parallèles.<br/>
    Le rectangle a <b>quatre</b> angles droits.<br/>
    <b>Les longueurs</b> d'un rectangle sont les deux plus grands côtés de la figure.<br/>
    <b>Les largeurs</b>b> sont les deux plus petits côtés.<br/>
    La surface d'un rectangle est égale à :<br/>
    <formule style="color: red;">SURFACE=LONGUEUR x LARGEUR</formule></p>
    <img style="width: 330px;height:270px;margin-left: 3px;margin-right: 15px;" src="../../sources/rectangle.png">
  </div>
</body>

</html>